.body_exercise
    background-color: index.$background_two
    width: 100%
    padding: .4rem
    font-size: .8rem
    border-radius: 12px

    .info_exercise
        display: flex
        justify-content: space-between
        background-color: index.$background_three
        border-radius: 12px
        padding: .8rem
        .content_exercise
            display: flex
            gap: .6rem
            align-items: center

            img
                width: 40px
                height: 40px

            .subtext_exercise
                @extend .content_exercise

            i
                cursor: pointer

    .current_exercise
        padding: .4rem
        p
            margin-top: .6rem
