.container_record
    width: 45%
    height: 100%
    padding: 1rem


            
    .title_exercise
        text-align: start
        margin-bottom: .8rem
        h1
            @include fontStyle(1rem, 800 )

    .container_exercise
        @include flexCenter(column, start)
        padding: .5rem
        gap: 1rem
