@import url("../login/login.module.sass")

.container_singup
    width: 50%
    height: 100%
    @include index.flexCenter(column, center)
    background-color: index.$background_two

    .container_form
        padding: 1.875rem 3.75rem
        z-index: 2

        .text_container
            width: 100%
            text-align: center
            margin-bottom: 1.5rem

            h1
                @include index.fontStyle(58px, 900)

        form
            display: flex
            gap: 1.5rem
            flex-direction: column

            .same_place
                display: flex
                gap: 1rem

    button
        margin-top: 1rem
        background-color: index.$primary
        padding: .9rem
        color: white
        @include index.fontStyle(14px, 700)
        text-transform: uppercase
        transition: .3s ease

    button:hover
        background-color: index.$primary_hover
