header.header
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem 6rem

    img
        width: 60px
        height: 60px
        background-color: $black


    i
        color: $black
        cursor: pointer
        font-size: 18px
        padding: 1.25rem
        transition: .3s ease

    i:hover
        background-color: $black
        color: white
        